.profile__name {
    margin: 22px 0 16px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    max-width: 413px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .profile__name {
        max-width: 211px;
        margin: 22px 0 14px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}