.profile {
    display: flex;
    margin-bottom: 51px;
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        margin: 0 auto 36px;
        flex-direction: column;
        align-items: center;
    }
}

