.footer__text {
    color: #545454;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .footer__text {
        font-size: 14px;
        line-height: 17px;
    }
}