.form__input-error {
    position: absolute;
    width: 100%;
    max-width: 358px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media screen and (max-width: 767px) {
    .form__input-error {
        max-width: 238px;
    }
}