.pop-up__container {
    display: block;
    width: 100%;
    max-width: 430px;
    height: min-content;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .pop-up__container {
        max-width: 282px;
        width: 100%;
        height: min-content;
        
    }
}