.element__group {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    max-width: 282px;
}