.form__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
    width: 100%;
    max-width: 358px;
    
}

@media screen and (max-width: 767px) {
    .form__input {
        max-width: 238px;
    }
}