.element__delete-card {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/delete.svg);
    width: 18px;
    height: 19px;
    background-color:rgba(0, 0, 0, 0);
    border: 0;
    transition: opacity 0.2s ease-in-out;
}


.element__delete-card:hover {
    cursor: pointer;
    opacity: 0.6;
}